html {
    background-color: rgb(190, 119, 163);
}

div {
    display: flex;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body nav {
    background-color: rgb(190, 119, 163);
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    height: 25px;
    padding: 25px;
    margin: 0px;
}

body nav a {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: whitesmoke;
}

.profile-pic {
    border-radius: 50% 50%;
    width:95%;
    height:95%;
    flex: 0 0 1;
    padding-left:2.5%;
    top: -65px;
    position:relative;
}

aside {
    background-color: rgb(190, 119, 163);
    width: 325px;
    margin-bottom: -150px;
    flex-direction: column;
    display: block;
}

aside h1 {
    color: whitesmoke;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    position: relative;
    top: -50px;
}

aside h2 {
    color:whitesmoke;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    top: -24px;
}

aside p {
    color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 17.5px;
}

aside h3 {
    position: relative;
    top: 20px;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}

aside li {
    position: relative;
    top: 20px;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
    list-style: none;
    font-size: 23px;
}

hr {
    height: 1px;
    background-color: whitesmoke;
    margin-left: 15px;
}

section {
    position:relative;
    top: -900px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    background-color: rgb(190, 119, 163);
    color: whitesmoke;
    margin-left: 350px;
    flex-direction: row;
}

section h1 {
    position: relative;
    left: 40px;
}

section img {
 position: relative;
 top: 40px;
 left: 40px;
}

@media screen and (max-width: 775px) {
    body nav a {
        display: flex;
        flex-wrap:wrap;
        max-width: 775px;
        justify-content: right;

    }

    .profile-pic {
        display: flex;
        flex-wrap:wrap;
        max-width: 775px;
        margin: auto;
    }

    aside h1 {
        display: flex;
        flex-wrap:wrap;
        max-width: 775px;
    }

    div section {
        
    }

}